/* You can add global styles to this file, and also import other style files */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4c6358;
}

p {
    margin: 0;
}

// div, section {
//     border: 2px solid black
// }