<h2>My Projects</h2>
<div class="text-container">
    <div class="text-box">
        <div class="github right">
            <span class="icon">
                <a href="https://github.com/PawelMaslak/MontanaBrows" target=”_blank”>
                    <fa-icon [icon]="['fab', 'github']" size="2x"></fa-icon>
                </a>
            </span>
        </div>
        <div class="project">
            <div class="name">
                <h3>montana brows</h3>
            </div>
            <div class="description">
                <span>
                    Basic "business card" type of website built for my partner providing basic means of contact(via
                    contact form, Whatsapp business), gallery, pricing and booking plugin. Application is divided between back-end and front-end services.
                </span>
            </div>
            <div class="techstack bottom">
                <span>C#, .NET Core, TypeScript, Angular</span>
            </div>
        </div>

    </div>
    <div class="text-box">
        <h3>Project Name</h3>
    </div>
    <div class="text-box">
        <h3>Project Name</h3>
    </div>
</div>
<div class="text-container">
    <div class="text-box">
        <h3>Project Name</h3>
    </div>
    <div class="text-box">
        <h3>Project Name</h3>
    </div>
    <div class="text-box">
        <h3>Project Name</h3>
    </div>
</div>