<h2>My Projects</h2>
<div class="text-container">
    <div class="text-box">
        <div class="github">
            <p>Placeholder For Github Icon</p>
            <p>Orientation to the right</p>
        </div>
        <div class="project">
            <div class="name">
                <h3>Project Name in light</h3>
            </div>
            <div class="description">
                <p>Project description in grey</p>
            </div>
            <div class="techstack">
                <p>Techstack in grey</p>
            </div>
        </div>

    </div>
    <div class="text-box">
        <h3>Project Name</h3>
    </div>
    <div class="text-box">
        <h3>Project Name</h3>
    </div>
</div>
<div class="text-container">
    <div class="text-box">
        <h3>Project Name</h3>
    </div>
    <div class="text-box">
        <h3>Project Name</h3>
    </div>
    <div class="text-box">
        <h3>Project Name</h3>
    </div>
</div>