$bold: "CascadiaCode-Bold", Arial, Helvetica, sans-serif;
$regular: "CascadiaCode", Arial, Helvetica, sans-serif;

h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: $bold;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    font-family: $bold;
}

.text-container {
    display: flex;
}

.text-container .text-box {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    background: #00c2cb;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    transition: 1s all ease;
}

.text-box:hover {
    transform: translateY(-10px);
}

//Icon Section
.github {
    min-height: 60px;
}

.right {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 0;
}

.icon {
    margin: 10px;
}

fa-icon {
    color: white;
    transition: 1s all ease;
}

fa-icon:hover {
    color: #2f2f30;
}

.project {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.description {
    font-family: $regular;
    color: #2F2F30;
    flex: 1 1;
}

.project .techstack {
    font-family: $bold;
    color: #5a5a61;
    opacity: .8;
    height: 35px;
    margin-bottom: 5px;
}
