$bold: "CascadiaCode-Bold", Arial, Helvetica, sans-serif;
$regular: "CascadiaCode", Arial, Helvetica, sans-serif;

h2 {
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    font-family: $bold;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    font-family: $bold;
}

.text-container {
    display: flex;
}

.text-container .text-box {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    background: #00c2cb;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    transition: 1s all ease;
}

.text-box:hover {
    transform: translateY(-10px);
}

//Icon Section
.right {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 0;
}

.icon {
    margin: 10px;
}

fa-icon {
    color: white;
    transition: 1s all ease;
}

fa-icon:hover {
    color: #DBF227;
}

//Content

.project {
    background: red;
    height: 100%;
    width: 100%;
}

.project .description {
    font-family: $regular;
    color: #2F2F30;
    padding: 15px;
}

.project .techstack {
    padding: 15px 15px 0 15px;
    font-family: $regular;
    color: #5a5a61;
}

.bottom {
    bottom: 0;
    right: 0;
}