<div class="header">
    <ol>
        <li>About me</li>
    </ol>
</div>
<div class="content">
    <p>Hello, my name is Pawel and I am software developer. Stay awhile and listen...</p>
    <p>Originally from Szczecin, Poland I decided I would like to see the world and since then visited and lived in multiple countries</p>
    <p>This gave me true insight how the world is really diverse.</p>
    <p>Since the very young age I was passionate about computers and Internet. Eventually I decided I would like to build software myself</p>
    <p>My main focus is building tools that automate manual tasks or reduce the workload of my colleagues substantially.</p>
    <p>Here are technologies I worked recently with:</p>
    <ul>
        <li>.NET</li>
        <li>C#</li>
        <li>Angular</li>
        <li>Typescript</li>
        <li>SQL</li>
        <li>CSS</li>
        <li>Python</li>
    </ul>
</div>


