<h2>About me</h2>
<div class="text-container">
    <div class="text-box">
        <h3>Who am I?</h3>
        <span>
            <p>
                Stay awhile and listen...
            </p>
            <p>Hello, my name is Pawel and I am passionate about software engineering.</p>
            <p>Originally from Szczecin, Poland I decided I would like to see the world and since then visited and lived
                in
                multiple countries. This gave me true insight how the world is really diverse and amazing.
            </p>
            <p>Since the very young age I was into about all related to computers and Internet. Eventually I
                decided I
                would like to start building software solutions myself.</p>
            <p>My main focus is automation, back-end services, API development</p>
        </span>
        <h3>Techstack</h3>
        <span>
            <div class="container">
                <div class="col">
                    <p>Here is the list of technologies I worked recently with:</p>
                </div>
                <div class="col">
                    <ul class="technologies">
                        <li>C#</li>
                        <li>.NET</li>
                        <li>API Development</li>
                        <li>Angular</li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="technologies">
                        <li>Typescript</li>
                        <li>SQL</li>
                        <li>CSS</li>
                        <li>Python</li>
                    </ul>
                </div>
            </div>
        </span>
    </div>
    <div class="photo-box">
        <div class="img-container">
            <img src="../../../assets/images/me.jpg" alt="">
        </div>
    </div>
</div>