$bold: "CascadiaCode-Bold", Arial, Helvetica, sans-serif;
$regular: "CascadiaCode", Arial, Helvetica, sans-serif;

img {
    width: 600px;
    display: block;
    box-shadow: 5px 5px;
    transition: all 2s
}

img:hover {
    box-shadow: 10px 10px;
}

h2 {
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    font-family: $bold;
}

h3 {
    font-family: $bold;
}

ul {
    list-style-type: square;
}

li {
    font-family: $bold;
}

span p {
    padding: 10px;
    font-family: $regular;
}

.text-container {
    display: flex;
}

.container {
    display: flex;
    justify-content: space-around;
}

.col {
    min-width: 190px;
}

.photo-box {
    display: flex;
    align-items: center;
    background: #00c2cb;
    min-width: 610px;
    max-width: 800px;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}

.text-container .text-box {
    margin: 20px;
    padding: 20px;
    background: #00c2cb;
    min-width: 500px;
    max-width: 800px;
    max-height: 650px;
    border-radius: 15px;
}

.text-container .text-box h3 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

@media (max-width: 900px) {
    h1 {
        font-size: 2rem;
        text-align: center;
    }

    .text-container {
        flex-direction: column;
    }
}