$navheight: 100px;
$font-mono: "SF Mono",
"Fira Code",
"Fira Mono",
"Roboto Mono",
monospace;

header {
    padding: 0 50px;
    height: $navheight;
    nav {
        display: flex;
        justify-content: space-between;
    
        div {
            display: flex;
    
            ol {
                justify-content: space-between;
                display: flex;
                list-style: none;
                margin: 0;
    
                li {
                    margin: 0 10px;
                }
            }
        }
    }
}
