$navheight: 80px;
$font-mono: "SF Mono",
"Fira Code",
"Fira Mono",
"Roboto Mono",
monospace;

header {
    display: flex;
    height: $navheight;
    background-color: lightgray;
    align-items: center;
    position: fixed;
    width: 100%;
    overflow: hidden;
    transition: top 1s;

    nav {
        display: inherit;
        width: 100%;
        justify-content: space-between;
        border: 2px solid green;
        padding: 0 50px;

        div {
            display: flex;

            ol {
                justify-content: space-between;
                display: flex;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    margin: 0 10px;
                }
            }
        }
    }
}