$font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;

.logo {
    width: 70px;
    height: 70px;
}

.menu {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-between;
}

.menu a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

#links {
    opacity: 0;
    height: 0px;
    transition: all 0.4s linear;
}

#button {
    display: flex;
    justify-content: space-around;
    transition: all .4s linear;
}

.active {
    background-color: black;
}

#bars {
    display: flex;
    //display: none;
    flex-direction: column;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
    width: 70px;
    margin-right: 10px;
    margin-left: 10px;
    transition: all 0.4s linear;
}

.bar {
    width: 50px;
    height: 5px;
    background-color: white;
    margin: 7px;
}

.xbar {
    width: 50px;
    height: 5px;
    background-color: white;
    margin: 5px;
}

#links a {
    color: white;
    background-color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

#links a:hover {
    background-color: #ddd;
    color: black;
}

.menu-item {
    font-family: $font-mono;
}

#close {
    width: 70px;
    height: 70px;
    position: relative;
    transition: all 0.4s linear;
}

#close:after {
    content: '';
    height: 40px;
    border-left: 5px solid white;
    position: absolute;
    transform: rotate(45deg);
    left: 28px;
}

#close:before {
    content: '';
    height: 40px;
    border-left: 5px solid white;
    position: absolute;
    transform: rotate(-45deg);
    left: 28px;
}