<div id="root">
  <div class="layout">
      <app-top-menu></app-top-menu>
  </div>
</div>


<div>
  <!-- <a href="#top">Top</a>
  <a href="#middle">Middle</a>
  <a href="#bottom">Bottom</a> -->
  <div id="about"><a href="about"></a>About Me</div>
  <div id="work"><a href="work"></a>My Work</div>
  <div id="projects"><a href="projects"></a>My Projects</div>
  <div id="contact"><a href="contact"></a>Contact</div>
</div>
<div>
  <p>Footer</p>
  <p>Links to: Github, Discord, Instagram</p>
  <p>Social Media</p>
  <p>Add Copyright</p>
  <a href="#top">Scroll to top</a>
</div>