<div id="root">
  <div class="layout">
    <div id="top-menu">
      <app-top-menu></app-top-menu>
    </div> 
  </div>
</div>





<div>
  <p>Top Menu</p>
  <p>Logo Area</p>
  <p>About</p>
  <p>Work</p>
  <p>My Projects</p>
  <p>Contact</p>
  <p>CV</p>
</div>
<div>
  <a href="#top">Top</a>
  <a href="#middle">Middle</a>
  <a href="#bottom">Bottom</a>
  <div id="top"><a href="top"></a>Top</div>
  <div id="middle"><a href="middle"></a>Middle</div>
  <div id="bottom"><a href="bottom"></a>Bottom</div>
</div>
<div>
  <p>Footer</p>
  <p>Links to: Github, Discord, Instagram</p>
  <p>Social Media</p>
  <p>Add Copyright</p>
  <a href="#To top">Scroll to top</a>
</div>