<div id="content" (window:scroll)="reveal()">
  <main>
    <section>
      <app-welcome></app-welcome>
    </section>
    <!-- <section id="about">
      <div class="container reveal">
        <app-about></app-about>
      </div>
    </section>
    <section id="projects">
      <div class="container reveal">
        <app-projects></app-projects>
      </div>
    </section>
    <section id="contact">
      <div class="container reveal">
        <app-contact></app-contact>
      </div>
    </section> -->
  </main>
</div>