<div class="console">
    <header>
      <p>PAWEL MASLAK - SOFTWARE DEVELOPER</p>
    </header>
    <div class="consolebody">
        <div class="presentation">
            <span class="my-name new-line">>Hey, you guys! My name is</span>
            <span class="name new-line">>Pawel Maslak</span>
        </div>
        <div class="new-lines">
            <span class="job">>I build software.</span>
            <div class="description">
                <span>>I am Software Developer based in United Kingdom specialised in design and development of back-end solutions using <span class="bold">C#</span>,<span class="bold">.NET Framework</span>, <span class="bold">SQL</span> and many more.</span>
            </div>
            <span class="thank-you">>Thank you for popping by!</span> 
        </div>        
    </div>
  </div>

