$bold: "CascadiaCode-Bold", Arial, Helvetica, sans-serif;
$regular: "CascadiaCode", Arial, Helvetica, sans-serif;
$goonies: "Goonies", Arial, Helvetica, sans-serif;

//General settings

.console {
    font-family: $regular;
    box-sizing: border-box;
    margin: auto;
    animation: show-console 1s ease-in;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #555;
    text-align: center;
    color: #DDD;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}

.top-bar {
    padding: 5px;
    font-family: $bold;
}

.consolebody {
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    box-sizing: border-box;
    padding: 20px;
    height: calc(100% - 40px);
    overflow: hidden;
    background-color: #000;
    color: #63de00;
}

.name {
    font-family: $bold;
    text-transform: uppercase;
}

span {
    font-family: $regular;
}

.new-lines {
    span:not(.bold) {
        display: list-item;
        word-break: break-word;
        list-style: none;
    }

    padding-top: 1vh;
}

.new-line {
    display: list-item;
    word-break: break-word;
    list-style: none;
}

.bold {
    font-family: $bold;
}

.job {
    padding-top: 10px;
    padding-bottom: 10px;
}

.description {
    max-width: 540px;
}

.thank-you {
    padding-top: 10px;
    padding-bottom: 10px;
}

@keyframes show-console {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

//Screen specific settings

@media (max-width: 768px) {
    .console {
        width: 80vw;
        height: 60vh;
    }

    header {
        max-height: 12vh;
    }

    .name {
        font-size: 2rem;
    }

    .new-lines span,
    .greeting {
        font-size: .9rem;
    }

    .presentation {
        height: 7vh;
        padding-bottom: 1vh;
        padding-top: 1vh;
    }
}

@media (min-width: 768px) {
    .console {
        min-width: 40vw;
        height: 60vh;
    }

    header {
        min-height: 5vh;
    }

    .name {
        font-size: 3rem;
    }

    .new-lines span,
    .greeting {
        font-size: .9rem;
    }

    .presentation {
        height: 10vh;
        padding-bottom: 1vh;
        padding-top: 1vh;
    }
}

@media (min-width: 992px) {
    .console {
        min-width: 40vw;
        height: 60vh;
    }

    .name {
        font-size: 3rem;
    }

    .new-lines span,
    .greeting {
        font-size: .9rem;
    }

    .presentation {
        height: 10vh;
        padding-bottom: 1vh;
        padding-top: 1vh;
    }
}

@media (min-width: 1200px) {
    .console {
        max-width: 60vw;
        height: 60vh;
    }

    .name {
        font-size: 3rem;
    }

    .new-lines span,
    .greeting {
        font-size: .9rem;
    }

    .presentation {
        height: 10vh;
        padding-bottom: 1vh;
        padding-top: 1vh;
    }
}

@media (min-width: 1400px) {
    .console {
        min-width: 40vw;
        height: 60vh;
    }

    header {
        min-height: 4vh;
    }

    .name {
        font-size: 4rem;
    }

    .new-lines span,
    .greeting {
        font-size: 1.1rem;
    }

    .presentation {
        height: 10vh;
        padding-bottom: 1vh;
        padding-top: 1vh;
    }
}


.welcome {
    display: flex;
    width: 100%;
}


.desc {
    width: 1000px;
    height: 500px;
    margin-top: 150px;
    background-color: red;
}

.photo {
    width: 800px;
    height: 800px;
    margin-left: -300px;
    background-color: blue;
    z-index: -1;
}