$bold: "CascadiaCode-Bold", Arial, Helvetica, sans-serif;
$regular: "CascadiaCode", Arial, Helvetica, sans-serif;

.welcome {
    display: flex;
    width: 100%;
    animation: show-console 1.5s ease-in;
}

.bold {
    font-family: $bold;
}

.text-container .text-box h3 {
    text-align: center;
    text-transform: uppercase;
    margin: 15px;
    font-family: $bold;
}

span p {
    padding: 1vh;
    font-size: 0.8vw;
    font-family: $regular;
}

ul {
    list-style-type: square;
}

li {
    font-family: $bold;
    font-size: 0.8vw;
}

@keyframes show-console {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.desc {
    background-color: #e0ffff;
}

.photo {
    z-index: -1;
}

.text-container {
    display: flex;
    width: 100%;
    height: 100%;
}

@media (max-width: 576px) {
    .welcome {
        display: none;
    }

    .welcome-mobile {
        display: block;
    }

    .photo {
        display: none;
    }
}

@media (min-width: 576px) {
    .welcome {
        display: none;
    }

    .welcome-mobile {
        display: block;
    }

    .photo {
        display: none;
    }
}

@media (min-width: 768px) {
    .welcome {
        display: flex;
        flex-direction: column-reverse;
    }

    .welcome-mobile {
        display: none;
    }

    .desc {
        width: 80vw;
        height: 55vh;
        margin-left: 5vh;
        margin-top: -20vh;
    }

    .photo {
        display: block;
        width: 70vw;
        height: 60vh;
    }

    img {
        width: 70vw;
        height: 60vh;
        display: block;
    }

    .text-container .text-box h3 {
        font-size: 3vh;
        margin: 0px;
    }

    span p {
        font-size: 2vh;
    }

    li {
        font-size: 2vh;
    }
}

@media (min-width: 992px) {
    .welcome {
        margin-top: 0px;
        flex-direction: row;
    }

    .welcome-mobile {
        display: none;
    }

    .desc {
        width: 50vw;
        height: 40vw;
        margin-top: 5vw;
    }

    .photo {
        width: 50vw;
        height: 40vw;
        margin-left: -10vw;
    }

    img {
        width: 50vw;
        height: 40vw;
        display: block;
    }

    .text-container .text-box h3 {
        font-size: 2vw;
        margin: 5px;
    }

    span p {
        font-size: 1.1vw;
    }

    li {
        font-size: 1.1vw;
    }
}

@media (min-width: 1200px) {
    .welcome {
        margin-top: 0px;
        flex-direction: row;
    }

    .welcome-mobile {
        display: none;
    }

    .desc {
        width: 50vw;
        height: 40vw;
        margin-top: 5vw;
    }

    .photo {
        width: 50vw;
        height: 40vw;
        margin-left: -10vw;
    }

    img {
        width: 50vw;
        height: 40vw;
        display: block;
    }

    .text-container .text-box h3 {
        font-size: 2vw;
        margin: 5px;
    }

    span p {
        font-size: 1.1vw;
    }

    li {
        font-size: 1.1vw;
    }
}

@media (min-width: 1400px) {
    .welcome {
        margin-top: 0px;
        flex-direction: row;
    }

    .welcome-mobile {
        display: none;
    }

    .desc {
        width: 45vw;
        height: 30vw;
        margin-top: 5vw;
    }

    .photo {
        width: 40vw;
        height: 30vw;
        margin-left: -10vw;
    }

    img {
        width: 40vw;
        height: 30vw;
        display: block;
    }

    span p {
        font-size: 0.8vw;
    }

    li {
        font-size: 0.8vw;
    }

    .text-container .text-box h3 {
        font-size: 1.5vw;
        margin: 1.2vw;
    }

    .col {
        min-width: 10vw;
    }
}

//About styling

.container {
    display: flex;
    justify-content: space-around;
}

.text-container .text-box {
    color: #2f2f30;
    margin: 10px;
    padding: 10px;
    z-index: 1;
}

a {
    text-decoration: none;
    color: #2f2f30;
    font-weight: 700;
    position: relative;
}

a::before {
    content: "";
    background-color: #dbf227;
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 2px;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

a:hover::before {
    bottom: 0;
    height: 100%;
}
